[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cache_wrapper = { editable = true, ref = "2.4.1", git = "ssh://git@bitbucket.org/tata1mg/cache_wrapper.git" }
tortoise-wrapper = {ref = "0.6.2", git = "ssh://git@bitbucket.org/tata1mg/tortoise_wrapper.git"}
commonutils = {ref = "DD-386-aiohttp-upgrade", git = "ssh://git@bitbucket.org/tata1mg/commonutils.git"}
deputydev-core = { ref = "common_changes", git = "ssh://git@github.com/tata1mg/deputydev-core.git" }
tortoise-orm = "==0.21.3"
langchain = "==0.0.344"
psycopg2-binary = "==2.9.9"
pgvector = "==0.2.4"
pandas = "==2.1.3"
openai = "==1.5.0"
pypdf = "==4.0.1"
pillow = "==10.2.0"
google-generativeai = "==0.3.2"
pyjwt = "==2.9.0"
supabase = "==2.11.0"
torpedo = { editable = true, ref = "3.6.1-rc2-bumped-websockets", git = "ssh://git@bitbucket.org/tata1mg/torpedo.git" }

[dev-packages]
flake8 = "==7.1.1"
black = "==22.12.0"
isort = "==5.13.2"

[requires]
python_version = "3.9"
